  .header {
    width: 100%;
    position: sticky;
    display: flex;
    top: 0;
    z-index: 999;
    justify-content: space-evenly;
    border-bottom: 0.1px solid lightgray;
    background-color: white;

  }
  
  .header_left {
    display: flex;
     position: relative;
    right: 15rem;
    
  }
  .header_right {
    display: flex;
    position: relative;
    right: -1rem;
    bottom: 0rem;
  }
  .headerOption {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    color: gray;
    cursor: pointer;
  }
  .headerOption:hover {
    color: black;
  }
  .headerOption h3 {
    font-size: 12px;
    margin-top: 10px;
    font-weight: 400;
  }
  .headerOption_icon {
    margin-right: 5px;
    height: 20px;
    width: 20px;
  }





  /* @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
.wrapper{
  overflow: hidden;
  max-width: 390px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 0px 15px 20px rgba(0,0,0,0.1);
}
.wrapper .title-text{
  display: flex;
  width: 200%;
}
.wrapper .title{
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
}

.slide-controls .slider-tab{
  position: absolute;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  border-radius: 5px;
  background: -webkit-linear-gradient(left, #a445b2, #fa4299);
  transition: all 0.6s cubic-bezier(0.68,-0.55,0.265,1.55);
} */

